---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Konsultoria Financeira | Alcance a liberdade financeira com a ajuda de especialistas',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Entrar em contato',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
      { text: 'Saiba mais', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Especialista em crédito' }}
  >
    <Fragment slot="title"
      >Descomplique a gestão <span class="hidden xl:inline">financeira dos seus </span>
      <span class="text-accent dark:text-white highlight">créditos </span>com a orientação de <span
        class="text-accent dark:text-white highlight"
        >especialistas
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Entenda</span> as melhores práticas e ferramentas para otimizar a gestão financeira de
        seus créditos.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600"
        >Descubra como reduzir juros com orientações de especialistas no assunto.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Como fazemos"
    title="Os pilares de uma gestão de crédito +inteligente"
    subtitle="Descubra como organizar sua vida financeira"
    items={[
      {
        title: 'Avaliação do crédito mais indicado',
        description:
          'A partir de uma avaliação personalizada e em tempo real, trazemos qual é a melhor solução financeira para a sua necessidade.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Comparação entre bancos',
        description:
          'Usando ferramentas apropriadas, você pode consultar de forma rápida, todos os juros e condições de pagamentos entre mais de 15 bancos no Brasil, com nosso especialista do crédito',
        icon: 'tabler:components',
      },
      {
        title: 'Seleção da melhor condição de pagamento',
        description:
          'Entenda todas as opções disponíveis de taxas, parcelamentos e condições gerais dos créditos disponíveis, para a seleção mais adequada, com foco na redução de juros.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Gestão de créditos antigos',
        description:
          'Reavaliação de todos os créditos já contratados para a otimização de juros, parcelas e novos créditos.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Público alvo"
    title="Quem pode se beneficiar da nossa orientação financeira?"
    items={[
      {
        title: 'Servidores Públicos Estaduais',
        description:
          'Se você é servidor público dos governos de São Paulo, Rio de Janeiro, Bahia, Mato Grosso e Amazonas pode contar com a nossa orientação para a gestão de créditos.',
      },
      {
        title: 'Servidores Públicos Municipais',
        description:
          'Se você é servidor público dos municípios de São Paulo e Rio de Janeiro, pode contar com a nossa orientação para a gestão de créditos.',
      },
      {
        title: 'Apósentados e Pensionistas do INSS',
        description:
          'Se você é aposentado ou pensionista do INSS, pode contar com a nossa orientação para a gestão de créditos.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Quem pode se beneficiar da nossa orientação financeira?',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Reduza juros e organize sua vida financeira em 3 passos simples"
    items={[
      {
        title: 'Passo 1: <span class="font-medium">Entre em contato</span>',
        description: 'Clique no botão abaixo e entre em contato com um de nossos especialistas',
        icon: 'tabler:package',
      },
      {
        title: 'Passo 2: <span class="font-medium">Diga brevemente seu interesse</em>',
        description: 'Diga se deseja reduzir juros, organizar créditos antigos ou contratar um novo crédito.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Passo 3: <span class="font-medium">Receba orientações do nosso consultor especialista</span>',
        description: 'Receba orientações personalizadas para a melhor solução financeira para a sua necessidade.',
        icon: 'tabler:paint',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Como reduzir minhas dívidas e organizar minha vida financeira?',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Perguntas Frequentes"
    subtitle="Mergulhe em nossas respostas mais frequentes sobre gestão de créditos e redução de juros."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'É possível reduzir a taxa de juros dos meus contratos?',
        description:
          'Sim, a portabilidade é um serviço financeiro que possibilita que o consumidor faça a migração de seus contratos antigos para novos, com taxa de juros menores. Desta forma, é possível usar o serviço para liquidação de parcelas, redução de juros e devolução de troco a partir dessa redução e até mesmo solicitação de novos valores, usando a nova margem pós redução de juros.',
      },
      {
        title: 'Quais documentos preciso para realizar uma simulação?',
        description:
          'Para uma simulação você precisará nos informar os dados: CPF, data de nascimento e acesso ao extrato de créditos',
      },
      {
        title: 'Preciso pagar algo pela consultoria?',
        description:
          'Não, a consultoria é gratuita. A remuneração da Konsultoria Financeira é feita diretamente pelos bancos e instituições financeiras, sem custo adicional para o cliente.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clientes felizes', amount: '+100MIL' },
      { title: 'Economia em juros', amount: '+100MI' },
      { title: 'Valor transacionado', amount: '300MI' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Falar com especialista',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
      Konsultoria &nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Financeira</span>
    </Fragment>

    <Fragment slot="subtitle">
      Venha fazer parte dos mais de 100 mil clientes que economizaram com a gente<br class="hidden md:inline" />Não
      perca mais tempo!
    </Fragment>
  </CallToAction>
</Layout>
